<div class="row mt-5 ">
  <div class="mx-auto">
  <%=  form_with url: order_posts_path ,method: :get, local: true do |f| %>
    <div>
      <%= f.select :keyword,[ ['投稿が新しい順', 'new'], ['投稿が古い順', 'old'], ['いいねの多い順', 'likes'] ]%>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
  </div>
</div>




