.row.mt-5
  - @posts.each do |post|
    .col-lg-5.offset-lg-1.col-8.offset-2[style="margin-top: 150px; "]
      .card.mt-4.shadow-lg.h-100
        div
          = link_to post_path(post) do
            = attachment_image_tag post,:picture,:fill,300,300,size: "300x300", class: "card-img-top"
        .card-body
          - # 曲名とアーティスト名
          h4.card-title.text-center
            = post.post_tweet
          - # YOUTUBE
          p
            | = post.post_url

      - # 音楽詳細画面へ
      .mt-4.text-center
        button.btn[type="button"]
          = link_to post_path(post), class: "text-info" do
            i.far.fa-eye.fa-lg
              |  Detail
      - # 投稿日
      .text-right.mt-3
        = time_ago_in_words(post.created_at)


