
<div class="row mt-5" >
  <% @posts.each do |post| %>
  <div class="col-lg-5  offset-lg-1  col-8 offset-2" style="margin-top: 150px; " >
    <div class="card mt-4 shadow-lg h-100" >

      <div class="card-body">
        <%# 曲名とアーティスト名 %>
        <h4 class="card-title text-center"><%= post.post_tweet  %></h4>
        <%# 説明 %>
        <p class="card-text text-center"><%= post.post_url %></p>
        <%# 投稿日 %>
        <div class="text-right mt-3"><%= time_ago_in_words(post.created_at) %></div>
      </div>
    </div>
  </div>
  <% end %>
