// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$main_color: rgb(063,163,203);
$sub_color: #ffffff;
$sub2_color: rgb(255,243,063);
$sub3_color: rgb(156,209,237);
$font_size-vsm: 10px;
$font_size-sm: 12px;
$font_size-md: 16px;
$font_size-vmd: 20px;
$font_size-lg: 24px;
$font_size-vlg: 30px;



.tag{
  display: inline-block;
	margin: 0 .1em .6em 0;
	padding: .4em;
	line-height: 1;
	text-decoration: none;
	color: rgb(063,163,203);
	background-color: #fff;
	border: 1px solid rgb(063,163,203);
	border-left: 5px solid rgb(063,163,203);
	font-size:$font_size-sm;
}


.text-main{
	border-top: 3px solid $sub3_color;
	border-bottom:3px solid $sub3_color;
	padding-top:10px;
	padding-bottom:10px;
	width:200px;
	text-align:center;
	font-weight:400;
}

.text-main2{
	border-top: 3px solid $sub3_color;
	border-bottom:3px solid $sub3_color;
	padding-top:5px;
	padding-bottom:5px;
	width:150px;
	text-align:center;
	font-weight:400;
}

ul {
  list-style-type: none;
}

a {
  color: #b63b4d;
  text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
 }


 .accordion {
  width: 100%;
  max-width: 400px;
  margin: 30px auto 20px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-left:0px;
 }

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  color: $main_color;
}

.accordion li.open i {
  color: $main_color;
}
.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}
/**
 * Submenu
 -----------------------------*/
 .submenu {
  display: none;
  background: $main_color;
  font-size: 14px;
 }

 .submenu li {
  border-bottom: 1px solid #ffffff;
 }

 .submenu a {
  display: block;
  text-decoration: none;
  color: $sub-color;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  .i{
  	color: #000;
  }
 }

 .submenu a:hover {
  background: $sub2_color;
  color: #000;
 }
 .profile_image:hover{
 	transform: scale(1.2);
  transition-duration: 0.5s;
 }


 .content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{

    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fefefe;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 35%;
    color:#fefefe;
}

.box_text{
	 background-image: image-url("topimage12.jpg");

}

#skipper{
	height:500px;
}

#top-card-img{
  width:100%;
  height:600px;
	background-size: cover;
	background-position: center;
  background-image: image-url("topimage13.jpg");

}
#top-card-img2{
  width:100%;
  height:600px;
	background-size: cover;
	background-position: center;
   background-image: image-url("topimage14.jpg");

}
#top-card-text{
  position:absolute;
  padding-right:20%;
  padding-left:20%;
  margin-top:5%;
  .top-caption{
  	padding-top:100px;
  	height:350px;
  	font-size:18px;
  	color:#000;
  	 font-family: cursive;
  }
}


.image1 {
	background-size: cover;
	background-position: center;
  background-image: image-url("topimage15.jpg");
}
.image2 {
	background-size: cover;
	background-position: center;
  background-image: image-url("topimage16.jpg");
}
.image3 {
	background-size: cover;
	background-position: center;
  background-image: image-url("topimage8.jpg");
}
.image4 {
	background-size: cover;
	background-position: center;
  background-image: image-url("topimage17.jpg");
}
.image5 {
	background-size: cover;
	background-position: center;
  background-image: image-url("topimage9.jpg");

}

.row-responsive{
		margin-top:600px;
	}

.box_images{
	width:100%;
	height:500px;
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
	.box_image1 {
		margin-right:50px;
		margin-top:50px;
		width:200px;
		height:200px;
		background-size: cover;
		background-position: center;
		background-image: image-url("topimage1.jpg");
		}
	.box_image2 {
		margin-right:50px;
		margin-top:50px;
		width:200px;
		height:200px;
		background-size: cover;
		background-position: center;
		background-image: image-url("topimage2.jpg");
		}
	.box_image3 {
		margin-right:50px;
		margin-top:50px;
		width:200px;
		height:200px;
		background-size: cover;
		background-position: center;
		background-image: image-url("topimage3.jpg");
		}
	.box_image4 {
		margin-right:50px;
		margin-top:50px;
		width:200px;
		height:200px;
		background-size: cover;
		background-position: center;
		background-image: image-url("topimage4.jpg")
		}
	.box_image5 {
		margin-right:50px;
		margin-top:50px;
		width:200px;
		height:200px;
		background-size: cover;
		background-position: center;
	  background-image: image-url("topimage5.jpg");
		}
		.box_image6 {
		margin-right:50px;
		margin-top:50px;
		width:200px;
		height:200px;
		background-size: cover;
		background-position: center;
	  background-image: image-url("topimage18.jpg");
		}
		.box_image7 {
		margin-right:50px;
		margin-top:50px;
		width:200px;
		height:200px;
		background-size: cover;
		background-position: center;
	  background-image: image-url("topimage19.jpg");
		}
		.box_image8 {
		margin-right:50px;
		margin-top:50px;
		width:200px;
		height:200px;
		background-size: cover;
		background-position: center;
	  background-image: image-url("topimage20.jpg");
		}
		.box_image9 {
		margin-right:50px;
		margin-top:50px;
		width:200px;
		height:200px;
		background-size: cover;
		background-position: center;
	  background-image: image-url("topimage21.jpg");
		}
}

.scroll-list {
  padding: 0;
  margin:0;
}


#infinite-search-form{
  background-color: #fff;
}

.infinite-search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  .infinite-search-form{
  	form{
  		#form-control{
  			width:90%;
  			border:1px solid $sub3_color;
  			background-color: #fff;
  			color:#000;
  		}
  	}
  }
}


@media screen and (max-width:768px) {
	#top-card-text{
  position:absolute;
  padding-right:20%;
  padding-left:20%;
  margin-top:0;
  margin-bottom:100px;

    .top-caption{
    padding-top:10px;
    height:100px;
  	font-size:12px;
  	color:#000;
  	font-family: cursive;
  	margin-bottom:100px;
    }
	}

	#top-card-img{
		display:none;
	}
	#top-card-img2{
		display:none;
	}

	#skipper{
		margin-bottom:50px;
		margin-top:200px;
	}

	.row-responsive{
		margin-top:200px;
	}

	.box_images{
		display:block;
		margin-bottom:900px;
		margin-top:200px;
		.box_image1 {
			margin: 10px auto;
			width:300px;
			height:300px;
		}
		.box_image2 {
      margin: 10px auto;
			width:300px;
			height:300px;
		}
		.box_image3 {
			margin: 10px auto;
			width:300px;
			height:300px;
		}
		.box_image4 {
			margin: 10px auto;
			width:300px;
			height:300px;
		}
		.box_image5 {
			margin: 10px auto;
			width:300px;
			height:300px;
		}
		.box_image6 {
			margin: 10px auto;
			width:300px;
			height:300px;
		}
		.box_image7 {
			display:none;
		}
		.box_image8 {
			display:none;
		}
		.box_image9 {
			display:none;
		}
	}
}