
// 変数定義

$main_color: rgb(063,163,203);
$sub_color: #ffffff;
$sub2_color: rgb(255,243,063);
$sub3_color: rgb(156,209,237);



.profile_box{
  position:relative;
}
.my_back_image{
  width:100%;
  height:500px;

}
.profile{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  .tab{
    width:100%;
    padding:15px;
    cursor: pointer;
    border-left:solid 1px #ccc;
    border-bottom:solid 1px #ccc;
    font-size:20px;
  }
  .tab:first-child{
    border-left:none;
  }
  .tab-active{
    background-color:$main_color;
    color:#fff;
    transition: all 0.2s ease-in-out;
  }
}



.tabbox{
  display:none;
  padding:15px;
}

.box-show{
  display:block;
}

