$main_color: rgb(063,163,203);
$sub_color: #ffffff;
$sub2_color: rgb(255,243,063);
$sub3_color: rgb(156,209,237);

.notification_text{
  font-weight: bold;
}


.link{
  text-decoration: none;
  color:$main_color;
}
.link:hover{
  text-decoration: none;
  color:$sub2_color;
}