// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main_color: rgb(063,163,203);
$sub_color: #ffffff;
$sub2_color: rgb(255,243,063);


.center {
  display: inline-block;
}


