<!--TOPページ-->
<div class="row">
  <!--TOP画像-->
  <div class="card bg-dark text-white" style="width:100%;">
    <!--TOP画像-->
    <%= image_tag asset_path("topimage10.jpg"), class: "bd-placeholder-img bd-placeholder-img-lg card-img" ,style: "width: 100%; height:800px;" %>
    <div class="card-img-overlay text-center">
      <!--TOPタイトル-->
      <h1 class="card-title" style="margin-top:150px; font-size:70px; ">Welcome To new Music</h1>
      <!--ログイン選択画面出力ボタン-->
      <h1 class="card-title" style="margin-top:80px; font-size:70px; "><a class="js-modal-open link-none4" href="" >Start</a></h1>
      <!--ログイン選択画面-->
      <div class="modal js-modal" >
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
          <p class="mt-3" style="color:#000;">こちらから新規登録ができます。</br>
          アカウントをお持ちの方はログインへお進みください。
          </p>
          <!--新規登録へ-->
          <div class="card-text btn btn-outline-main btn-block mt-5" >
            <%= link_to new_listener_registration_path ,class: "link-none2"  do %>
              <h3 class="link-none2 m-0"><i class="fas fa-user-plus"></i>Sign Up</h3>
            <% end %>
          </div>
          <!--ログインへ-->
          <div class="card-text btn btn-outline-main btn-block mt-5">
           <%= link_to new_listener_session_path,class: "link-none2" do%>
              <h3 class="link-none2 m-0"><i class="fas fa-sign-in-alt"></i>Log In</h3>
          <% end %>
          </div>
          <!--ゲストログインへ-->
          <p class="mt-3" style="color:#000;">ゲスト様はこちらからお進みください。↓</p>
          <div class="card-text btn btn-outline-main btn-block">
           <%= link_to guest_signin_path, method: :post, class: "link-none2" do%>
              <h3 class="link-none2 m-0"><i class="fas fa-sign-in-alt"></i>Guest Signin</h3>
          <% end %>
          </div>
          <!--閉じるボタン-->
          <div class="mt-5">
            <a class="js-modal-close link-none2" href="">
              <i class="fas fa-times-circle fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--イメージ画像と説明文-->
<div class="row " style="margin-top:130px;">
  <!--イメージ画像-->
  <div class="col-6 ">
    <div class="text-center">
      <div id="top-card-img" class="card-img"></div>
    </div>
  </div>
  <!--アプリ説明-->
  <div class="col-md-6" style="margin-top:0px;">
    <div id="top-card-text" class="text-dark text-center">
      <p class="top-caption" style="font-size:20px; margin-top:50px;">ようこそ、To new Musicへ！<br>
      このサイトでは、音楽を共有し繋がることができます。<br>
      日常で聴く音楽を誰かと共有したい時、それらの音楽を通じて誰かと話したい時<br>
      このサイトをご利用ください！<br>
      新しい音楽に出会える場となります！
      </p>
    </div>
  </div>
</div>
<!--スライドショー-->
<div class="row" style="margin-top:150px;">
  <div class="col-10 offset-1 hover"id="skipper">
    <div id="theTarget" style="height:600px;">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
      <div class="image5"></div>
    </div>
  </div>
</div>
<!--イメージ画像とアプリ説明-->
<div class="row " style="margin-top:300px;">
  <!--アプリ説明-->
  <div class="col-md-6" style="margin-top:0px;">
    <div id="top-card-text" class=" text-dark text-center">
      <p class="top-caption" style="font-size:20px; margin-top:50px;">Createrの皆様<br>
          このサイトでは、作品を投稿することができます。<br>
          作品を拡散することでたくさんの人に音楽を聴いてもらえます！<br>
          また、楽曲一つ一つにコメントやいいねで反応を知ることができます！<br>
          自分たちの作品をこのサイトで拡散しましょう！
      </p>
    </div>
  </div>
  <!--イメージ画像-->
  <div class="col-6">
    <div class="text-center">
      <div id="top-card-img2" class="card-img"></div>
    </div>
  </div>
</div>

<!--アルバムイメージ-->
<div class="row" style="margin-top:400px; margin-bottom:800px;">
  <div class="col-8 offset-2">
    <h2 class=" text-center mx-auto">Albums</h2>
    <div class="box_images mt-5">
      <div class="box_image1 box_image_responsive hover"></div>
      <div class="box_image2 box_image_responsive hover"></div>
      <div class="box_image3 box_image_responsive hover"></div>
      <div class="box_image4 box_image_responsive hover"></div>
      <div class="box_image5 box_image_responsive hover"></div>
      <div class="box_image6 box_image_responsive hover"></div>
      <div class="box_image7 box_image_responsive hover"></div>
      <div class="box_image8 box_image_responsive hover"></div>
      <div class="box_image9 box_image_responsive hover"></div>
    </div>
  </div>
</div>
