<div class="container" style="margin-top:80px;">
  <h3 class="my-4 text-center" style="margin-top:100px;">ChatRoom</h3>
  <div id= "chat_ajax" class="row " style="margin-top:100px;">
    <!--部分テンプレートチャット一覧を取得-->
    <%= render 'public/chats/chat', chats: @chats, chat: @chat %>
  </div>
  <!--バックボタン-->
  <div class="row" style="margin-top:100px;">
      <div class="col-8 offset-2">
      <!--前のページへ-->
      <%= link_to 'javascript:history.back()' do%>
        <button class="btn btn-outline-main"><i class="fas fa-arrow-circle-left"></i> Back</button>
      <% end %>
    </div>
  </div>
</div>