<!--コメント編集画面-->
<h4 class = "text-center" style="margin-top: 100px;"><i class="far fa-edit"></i> Edit Comment</h4>
<p class = "text-center mt-3 " style="font-size:12px;">下記のフォームへ入力してください。</p>
  <!--編集フォーム-->
  <div class="row form-row"style="margin-top: 100px; ">
    <div class="col-6 offset-3"style="margin-top: 100px; margin-bottom:100px;">
      <%= form_with(model:[@post, @comment], local: false) do |f| %>
      <!--コメント-->
      <div class="form-group d-flex mt-3">
        <%= f.label :コメント ,class:"col-4 mr-2 mt-3 form-label" ,style: "font-size:14px;"%>
        <%= f.text_area :comment,rows:"2", autofocus: true, class: "form-control-static col-6",placeholder:"Comment" %>
      </div>
      <!--投稿画像-->
      <div class="form-group mt-3">
        <!--送信ボタン-->
        <button class="btn btn-main mt-5 d-block mx-auto "><i class="fas fa-plus"> Update</i>
          <% f.submit %>
        </button>
      </div>
      <% end %>
    </div>
  </div>
