<h3>クリエイター一覧</h3>


<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>説明</th>
    </tr>
  </thead>
  <tbody>
    <% @creaters.each do |creater|  %>
    <tr>
      <td>
        <%= link_to creater.listener.name, listener_path(creater.listener) %>
      </td>
      <td>
        <%= creater.listener.caption %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
