<h4 class=" mt-5 text-center">通知</h4>
<div class="row mt-5">
  <% if @notifications.exists? %>
  <div class="mx-auto">
    <% @notifications.each do |notification| %>
    <% active = notification.active  %>
    <% post = notification.post  %>
    <div>
      <%= link_to listener_path(notification.active) do %>
        <%= attachment_image_tag active, :profile_image, :fill,100,100, format: "jpeg", fallback: "no_image.jpg", size: "50x50", class:"profile-img-circle" %>
      <% end %>
    </div>
    <% end %>
  </div>
  <% else %>
  <div class="mx-auto">
    <h4>通知はありません。</h4>
  </div>
  <% end %>
</div>
