<h3 class="text-center" style="margin-top:100px;"><i class="fas fa-check-circle"></i> Finished</h3>
<div class="row" style="margin-bottom:300px;">
  <div class="col-6 offset-3"style="margin-top:100px;">
    <div class="text-center">
      <p style="font-size:22px">
       お問い合わせありがとうございました。
      </p>
    </div>
    <div class="text-center mt-5">
      <%= link_to home_path do %>
        <button class="btn btn-main">HOMEへ</button>
      <% end %>
    </div>
  </div>
</div>
