<!--フッター-->
<footer id="footer">
  <!--画面スライドのボタン-->
  <a class="mr-4 mb-5" href="#" id="page-top">TOP</a>
  <div class="row mb-2 pt-2" style="background-color:rgb(063,163,203); height: 80px">
    <div class="mx-auto">
      <i class="text-white" style="line-height:60px;">Copyright © 2021 MY Inc. All rights reserved.</i>
    </div>
  </div>
</footer>